
<div class="card width-size">
    <img [src]="image" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <p class="card-text"
        *ngIf="tipoCard !== typeCard.list">
            {{desc || '' }}
        </p>
        <p class="card-text" >
            <strong>Stock: </strong>{{cantDisp}}
        </p>
        <p class="card-text" >
            <strong>Precio: </strong>{{precio}}
        </p>

        <div class="d-flex justify-content-between">
            <a (click)="getDetalle()" class="btn btn-primary"
                *ngIf="tipoCard !== typeCard.detalle"> 
                Ver Detalle
            </a>
    
            <div (click)="isInCart ? removeCar() : addCar() " [class]="isInCart ? 'btn btn-warning' : 'btn btn-primary'">
                <span class="align-top">
                    {{ isInCart ? "Remover" : "Agregar" }}
                </span>
                <span class="material-icons">shopping_cart</span>
            </div>
        </div>
    </div>
</div>