<app-header
    [enlaces]="enlaces"
></app-header>
<div class="container">
    
    <h1 class="text-center m-5">DETALLE DE PRODUCTO</h1>
    <div class="row justify-content-md-center">
        <div class="col text-center mb-5"
            *ngFor="let producto of productList">
            <app-card
                [idProducto] = "producto.id_producto"
                [titulo] = "producto.nombre"
                [desc] = "producto.descripcion"
                [cantDisp] = "producto.stock"
                [isInCart] = "producto.isSelected"
                [desc]="producto.descripcion"
                [precio]="producto.precio"
                [image] = "producto.imagenes[0]"
                tipoCard="detalle"
                (clickDetalle) = "clickDetalle($event)"
                (clickAddCar) = "clickAddCar($event)"
                (clickRemoveCar) = "clickRemoveCar($event)"
            ></app-card>
        </div>

    </div>
</div>